charset_normalizer==3.4.7
checks==0.2
Cython==3.2.4
hypothesis==6.152.7
mtrand==0.1
mypy==2.1.0
psutil==7.2.2
PyInstaller==6.20.0
pytest==9.0.3
pytest_run_parallel==0.8.2
PyYAML==6.0.3
scipy_doctest==2.2.0
setuptools==82.0.1
threadpoolctl==3.6.0
tomli==2.4.1
typing_extensions==4.15.0
